<div class="row text-dark bg-secondary">

    <span id="content" class="col-7">Task</span>
    <span id="deadline" class="col-2">Deadline</span>
    <div id="priority" class="col-1">Priority</div>
    <div id="status" class="col-2">Status</div>

</div>
<hr>

<% if @tasks.blank? %>
<% if session[:user_id].nil? %>
<p class="text-center">
    <%= "Hey, so glad you are here to keep tasks organized. 
    " %>
    <br>
    <%= "Please login at upper-right to start using this wonderful companion!" %>

</p>
<% else %>
<p class="text-center">
    <%= "Hey, let's add some task by clicking the '+ New Task' below!" %>
</p>
<% end %>
<%end%>