<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <div class="row justify-content-between float-right">



      <!-- FIXME: should actually be collection_select -->
      <div class="">
        <select>
          <option value="" hidden="">Sort by</option>
          <option value="">Deadline</option>
          <option value="">Priority</option>
          <option value="">Status</option>
          <option value="">Finished Time</option>
        </select>
      </div>






    </div>
    <br>
    <br>






    <%= render 'index_form', tasks: @tasks %>
  </div>





</body>

</html>