<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <!-- 
    TODO: add actual tag links dynamically 
    FIXME: why it's not working? maybe it's about JS or CSS for Bootstrap?? 
    -->

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        ALL TASKS
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">ALL TASKS</a>
        <a class="dropdown-item" href="#">TAGS</a>

      </div>
    </div>

    <!--TODO: should actually be form_for-->
    <form action="">
    </form>





  </div>





</body>

</html>